body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

body.hlavni {
    background-color: #e0f7ff;
}

body.vedlejsi {
    background-color: #f5f5ff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
}

h1 {
    border-bottom: 2px solid black;
}

img, video {
    border: 1px solid black;
    margin: 5px;
}
